html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    outline: none;
}

a { text-decoration: none; }